button{
    color: white;
    border-radius: 5px;
    border: none;
    width: 43vw;
    height: 6vh;
    background-color: rgb(42, 187, 47);
    cursor: pointer;
    :active{
        opacity: 0.5;
    }
}

button:active{
    opacity: 0.5;
}

input{
    background-color: rgba(25, 25, 25, 0.61);
    color: white;
    width: 15vw;
    height: 3vh;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

::-webkit-input-placeholder  {
    color: rgba(255, 255, 255, 0.216);
}

p{
    margin: 0;
    margin-bottom: 5px;
    justify-content: center;
    width: 100%;
}

h1{
    margin-bottom: 10px;
    margin-top: 10px;
}
body{
    display: flex;
    flex: 1;
    background-color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: white;
}

#state{
    background-color: rgba(25, 25, 25, 0.61);
    color: white;
    width: 16.3vw;
    height: 5.8vh;
    border-radius: 5px;
    border: none;
}

.form{
    display: flex;
    flex: 1;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    height: 40vh;
    background-color: rgb(42, 187, 47);
    border-radius: 10px;
    padding: 20px 0px;
}
.row{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.display{
    display: flex;
    flex-direction: column;
    margin: 1%;
    align-items: center;
}

.form_submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.text_error{
    color: red;
    font-size: 12px;
    margin-top: 1px;
    text-align: end;
}

.success{
    color: rgb(0, 170, 0);
    margin-bottom: 0vh;
    opacity: 0;
    font-size: 3svw;
    transition: opacity 1s;
    text-align: center;
}

.error{
    color: rgb(170, 0, 0);
    margin-bottom: 0vh;
    opacity: 0;
    font-size: 3svw;
    transition: opacity 1s;
    text-align: center;
}

@media (max-width: 768px) {
    body{
        display: flex;
        flex: 1;
        background-color: rgb(25, 25, 25);
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        width: 100svw;
        height: 100svh;
        color: white;
    }
    button{
        color: white;
        border-radius: 5px;
        border: none;
        width: 70svw;
        height: 5svh;
        background-color: rgb(42, 187, 47);
        cursor: pointer;
        :active{
            opacity: 0.5;
        }
    }
    input{
        background-color: rgba(25, 25, 25, 0.61);
        width: 50svw;
        height: 3svh;
        border-radius: 5px;
        padding: 10px;
        border: none;
    }
    #state{
        background-color: rgba(25, 25, 25, 0.61);
        color: white;
        width: 55svw;
        height: 5svh;
        border-radius: 5px;
        border: none;
    }
    .form_input{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80svw;
        height: 70svh;
        background-color: rgb(42, 187, 47);
        border-radius: 10px;
        padding: 20px 0px;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .form{
        display: flex;
        flex: 1;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    
    .display{
        display: flex;
        flex-direction: column;
        margin: 1%;
        align-items: center;
        height: 10svh;
    }
}
